<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="center-button">
        <button class="button green" id="get-info">GET INFO</button>
        <button class="button blue" id="brrr">GO BRRR</button>

    </div>
    <main>
        <% players.forEach((player) => { %>
            <div class="player-card">
                <img src='<%= player.img %>' alt="Player Name">
                <h1 class="name">
                    <%= player.name %> 
                </h1>
                <p class="position" >
                    <%= player.position %>
                </p>
                <div class="size">
                    <p class="height">Height: 
                        <%= player.height %>
                    </p>
                    
                    <p class="weight">Weight: 
                        <%= player.weight %>
                    </p>
                </div>
                <!-- <p class="position">250lb</p>
                <p class="position">6′ 11″</p> -->
        
                <p class="number">
                    #<%= player.number %>
                </p>
                <p class="team" >
                    <%= player.team %>
                </p>
                <div class="stats">
                <p class="label">PTS</p><p class="value points" >
                    <%= player.points %>
                </p>
                <p class="label">REB</p><p class="value rebounds" >
                    <%= player.rebounds %>
                </p>
                <p class="label">AST</p><p class="value assists" >
                    <%= player.assists %>
                </p>
                <p class="label">STL</p><p class="value steals" >
                    <%= player.steals %>
                </p>
                <p class="label">BLK</p><p class="value blocks" >
                    <%= player.blocks %>
                </p>
                </div>
            </div>


        <% }) %>
    
    </main>
<script src="../javascript/getPlayerData.js"></script>
</body>
</html>